.container{
    text-align: center;
    width: 100%;
}

.container .card{
    background-color: antiquewhite;
    width: 50%;
    margin: auto;
    margin-top: 5px;
}

.send button{
    margin: 10px;
}
.container .card{
    background-color:aliceblue;
    width:50%;
    margin:auto;
    margin-top:5px;
}